.sidebar {
  height: 100%;
  width: 54px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.2s;
  padding-top: 30px;
  box-shadow: 3px 0 5px 0 rgb(33 35 39 / 15%);
  overflow-x: hidden;
}

.sidebar a {
  margin: auto;
  display: flex;
}

.sidebar-logo {
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar:hover {
    width: 240px;
}

.nav-item a {
    border-radius: 50%; 
    padding-bottom: 3rem;
}

.nav-item {
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
}

.icon {
    padding-bottom: 3px;
    margin-right: 30px;
}

p-panelMenu {
    display: block;
    padding-left: 0.5rem;
}
