<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/facom.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario o correo">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar sessión">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Se me olvidó la contraseña</a>
    </div> -->

  </div>
</div>
