<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/facom.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="usuario o correo"
        [(ngModel)]="usuario"
        name="usuario"
        required="required"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        placeholder="contraseña"
        [(ngModel)]="contrasena"
        name="contrasena"
        required="required"
      />
      <input
        type="button"
        id="button"
        class="fadeIn fourth"
        value="Iniciar sessión"
        (click)="onLogin()"
      />
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Se me olvidó la contraseña</a>
    </div> -->
  </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
